<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="always" name="referrer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >

  <img src='/images/Lotus.jpg' alt="01.jpg"  height="230px" width="230px" >
    <h1><%= title %></h1>

  <input type="file" value="check">



  <div style="min-height: 100px;border: 15px solid red">
    <div style="border: 10px solid yellow">
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    </div>
    <div style="border:12px solid green ">
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789

    </div>


  </div>
  <div style="min-height: 100px;border: 15px solid red">
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789
    <br />
    123456789


  </div>
  </body>
</html>
