<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form class = "form-horizontal"  method='post' action='javascript:' role = "form" id = "frmUploadFile">
    <div class = "form-group">
        <label class = "control-label col-sm-2">图片选择</label>
        <div class = "col-sm-4">
            <input  type = "text" name = "files" class = "form-control" id="text1" >
        </div>
    </div>
    <div class = "form-group">
        <div class = "col-sm-offset-2 col-sm-4">
            <button class = "btn btn-primary" onClick = "sou()">查询</button>
            <span class = "help-inline" id = "spanMessage">选择图片</span>
        </div>
    </div>
</form>
<img  id="banner"  src="images/3.png"  width="420px" height="420px" >
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="/javascripts/Scripts/test/test.js" type="text/javascript"></script>

</body>
</html>