<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>你好</title>
</head>
<body>
<p id="change"  class="changestyle"  style="color: blue">你今天真好看。</p>
<input id="button" type="button" value="查询">
<input type="text" id="text" value="">
<img  id="banner"  src="images/<%=data%>.png" width="420px" height="420px" >

</body>
